*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerApp{
    background-color: rgba(228, 228, 228, 0.74);
    width: 70%;
    margin:auto;
    height: 100%;
}
.containerHeader{
    
    background-color: rgb(255, 255, 255) ;
    height: 80px;
    width: 100%;
    border: solid 1px;
    margin:auto;
}
.titoloHeader{
    display: inline-block;
    /* height: 80px;
    line-height: 80px;
    vertical-align: top; */ 
    border: solid 1px;
  
}
.logoHeader{
    display: inline-block;
    /* height: 50px; */
    /* width: 50px;*/
    /* vertical-align: baseline;  */
    border: solid 1px;
}

.containerSection{
    background-color:rgb(255, 255, 255) ;
    width: 60%;
    
    margin: 3% auto;
    border-radius: 10px;
}

.toolSection{
    border-bottom: solid 2px rgba(228, 228, 228, 0.74);
    padding: 10px 40px;
}

button{
    border: solid 1px;
    border-radius: 5px;
    padding: 1% ;
}

#btnTask{
    background-color: #47adf1;
    color: white;
}
#btnSection{
    background-color: rgb(255, 255, 255) ;
    color: rgb(201, 201, 201) ;
}

.taskSection{
    padding: 30px 40px;
}
h2{
    display: inline-block;
    padding-left: 10px;
}
